<p style="color: green"><%= notice %></p>


<h1>Reportes</h1>

<table class="table table-success table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Estatus</th>
      <th scope="col">Proyectos</th>
      <th scope="col">Monto total</th>
      <th scope="col">Mas opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |state| %>
      <tr>
     
      <td><%= state.codigo %></td>
      <td><%= state.nombre %></td>
      <td><%= Project.where(state_id: state.id).count %></td>
      <td> <%=State.MontoTotal(Project.all,state.id)%></td>
      <td>  <%= link_to "Ver mas", state %></td>
      <% end %>

   </tbody>
</table>




