<p style="color: green"><%= notice %></p>

<h1>statuses List</h1>
<table class="table table-success table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">#Codigo</th>
      <th scope="col">#Status</th>
      <th scope="col">Proyectos</th>
      <th scope="col">Mas opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |state| %>
      <tr>
     
      <td><%= state.codigo %></td>
      <td><%= state.nombre %></td>
      <td><%= Project.where(state_id: state.id).count %></td>
      <td>  <%= link_to "ver mas", state %> 
       </td>
      </tr>
   <% end %>
   </tbody>
</table>
<%= link_to "New state ", new_state_path %>



