<div id="<%= dom_id client %>">
  <p>
    <strong>Nombre:</strong>
    <%= client.nombre %>
  </p>

  <p>
    <strong>Rif:</strong>
    <%= client.rif %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= client.celular %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client.City_id %>
  </p>

</div>
