<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(client.errors.count, "error") %> Error al guardar:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :rif, style: "display: block" %>
    <%= form.text_field :rif %>
  </div>

  <div>
    <%= form.label :celular, style: "display: block" %>
    <%= form.text_field :celular %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div style="width:180px">
    <%= form.label :City_id, style: "display: block" %>
    <%= form.collection_select :City_id, City.all, :id, :nombre, {prompt: "Seleccionar"}, class:"form-select"%>
  </div>
<br>
<button type="submit" class="btn btn-primary">Crear</button>
<% end %>
