<p style="color: green"><%= notice %></p>

<h1>Clientes</h1>
<div id="clients">
  <table class= "table table-success table-striped table-bordered">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>CI</th>
    <th>Telefono</th>
    <th>Correo Electrónico</th>
    <th>Ciudad</th>
    <th>Mas Opciones</th>
  </tr>
  </thead>
  <tbody>
  <% @clients.each do |client| %>
  <tr>
    <td><%= client.nombre%></td>
    <td><%= client.rif %></td>
    <td><%= client.celular %></td>
    <td><%= client.email %></td>
    <td><%= City.find_by_id(client.City_id).nombre %></td>
    <td><%= link_to "Ver mas", client %> |
        <%= link_to "Editar", edit_client_path(client.id) %> 
        
        <% if Project.where(Client_id: client.id) == [] %> | 
          <%= link_to "Eliminar", client_path(client.id), data: { turbo_method: :delete, turbo_confirm: "¿Estas seguro que deseas eliminar este cliente" } %> </td>
        <%end%>
 
  </tr>
      
  <% end %>
  </tbody>
  

</table>
</div>

<%= link_to "Nuevo cliente", new_client_path, class:"btn btn-secondary" %>
