<table class="table table-success table-striped table-bordered">
  <thead>
    <tr>
     <th scope="col">#Code</th>
      <th scope="col">Project's Name</th>
      <th scope="col">Start date</th>
      <th scope="col">Tiempo Transcurrido</th>
      <th scope="col">Valor</th>
      <th scope="col">Description </th>
      <th scope="col">Belongs to the Client </th>
      <th scope="col">Current Status </th>
    </tr>
  </thead>
  <tbody>
      <td><%= project.codigo %></td>
      <td><%= project.nombre %></td>
      <td style="text-transform:Capitalize;"><%= localize project.created_at, format: "%d/%B/%Y" %></td>
      <td style="text-transform:Capitalize;"><%= if project.State.codigo != 80 && project.State.codigo != 1
        distance_of_time_in_words_to_now (project.created_at)
      else
        ultima_fecha = StateProject.where(Project_id: project.id).last.fecha_transicion
        distance_of_time_in_words(project.created_at, ultima_fecha)
      end %></td>
      <td><%= project.monto %></td>
      <td><%= project.descripcion %></td>
      <td><%= project.Client.nombre %></td>
      <td><%= project.State.nombre %></td>
      </tbody>
      <div hidden>
       <%= @state_project = Project.change_state(project.State_id,project.id)%>
       </div>
</table>