<div id="<%= dom_id project %>">
  <p>
    <strong>Nombre:</strong>
    <%= project.nombre %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= project.codigo %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= project.fecha %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= project.monto %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= project.descripcion %>
  </p>

  <p>
    <strong>State:</strong>
    <%= project.State_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= project.Client_id %>
  </p>

</div>
