<table class="table table-success table-striped table-bordered">
  <thead>
    <tr>
     <th scope="col">#Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">Monto</th>
      <th scope="col">Cliente </th>
      <th scope="col">Estado actual </th>
    </tr>
  </thead>
  <tbody>
      <td><%= project.codigo %></td>
      <td><%= project.nombre %></td>
      <td><%= project.monto %></td>
      <td><%= project.descripcion %></td>
      <td><%= project.Client.nombre %></td>
      <td><%= project.State.nombre %></td>
      </tbody>
      <div hidden>
       <%= @state_project = Project.change_state(project.State_id,project.id)%>
       </div>
</table>