<p style="color: green"><%= notice %></p>

<h1>Projects List</h1>
<table class="table table-success table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">#Codigo</th>
      <th scope="col">Project's Name</th>
      <th scope="col">Start date</th>
      <th scope="col">Tiempo Transcurrido</th>
      <th scope="col">Value</th>
      <th scope="col">Description </th>
      <th scope="col">Belongs to the Client </th>
      <th scope="col">Current Status </th>
      <th scope="col">More options</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
     
      <td><%= project.codigo %></td>
      <td><%= project.nombre %></td>
      <td style="text-transform:Capitalize;"><%= localize project.created_at, format: "%d/%b/%Y" %></td>
      <td style="text-transform:Capitalize;"> <%= if project.State.codigo != 80 && project.State.codigo != 1
        distance_of_time_in_words_to_now (project.created_at)
      else
        ultima_fecha = StateProject.where(Project_id: project.id).last.fecha_transicion
        distance_of_time_in_words(project.created_at, ultima_fecha)
      end  %></td>
      <td><%= project.monto %></td>
      <td><%= project.descripcion %></td>
      <td><%= project.Client.nombre %></td>
      <td> <%= project.State.nombre %>
      <%if project.State.nombre != "Propuesta Desaprobada" && project.State.nombre != "Proyecto Entregado" %>
        <%= link_to "Actualizar", edit_project_path(project.id) %>  
      <% end %> </td>
      <td> <%= link_to ' Ver Estados', "/projects/status/#{project.id}"%> 
       </td>
      </tr>
   <% end %>
   </tbody>
</table>


    <%= link_to "New Project", new_project_path, class:"btn btn-secondary" %>



