<p style="color: green"><%= notice %></p>

<h1>Projects List</h1>
<table class="table table-success table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">#Codigo</th>
      <th scope="col">Project's Name</th>
      <th scope="col">Start date</th>
      <th scope="col">Value</th>
      <th scope="col">Description </th>
      <th scope="col">Belongs to the Client </th>
      <th scope="col">Current Status </th>
      <th scope="col">More options</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
     
      <td><%= project.codigo %></td>
      <td><%= project.nombre %></td>
      <td><%= project.fecha %></td>
      <td><%= project.monto %></td>
      <td><%= project.descripcion %></td>
      <td><%= project.Client.nombre %></td>
      <td><%= project.State.nombre %> <%= link_to "actualizar estatus", state_projects_path %> </td>
      <td> <%= link_to 'status', "/projects/status/#{project.id}"%>
      <%= link_to "Editar", edit_project_path(project.id) %> |
      <%= link_to "Eliminar", project_path(project.id), data: { turbo_method: :delete, turbo_confirm: "¿Estas seguro que deseas eliminar este Proyecto?" } %>
       </td>
      </tr>
   <% end %>
   </tbody>
</table>


    <%= link_to "New Project", new_project_path, class:"btn btn-secondary" %>



