<%= form_with(model: city) do |form| %>
  <% if city.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(city.errors.count, "error") %> Error al guardar:</h2>

      <ul>
        <% city.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre%>
  </div>

  <div style="width:180px">
    <%= form.label :Estado_id, style: "display: block" %>
    <%= form.collection_select :Estado_id, Estado.all, :id, :nombre, {prompt: "Seleccionar"}, class:"form-select"%>
        
  </div>
<br>

<button type="submit" class="btn btn-primary">Crear</button>
<% end %>
