<p style="color: green"><%= notice %></p>
<h1>Lista de Ciudades</h1>
<table class="table table-success table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Estado</th>
      <th scope="col">Mas opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
      <td><%= city.nombre %></td>
      <td><%= city.Estado.nombre %></td>
     <td>  <%= link_to "Ver mas", city %> |
        <%= link_to "Editar", edit_city_path(city.id) %> |
        <%= link_to "Eliminar", city_path(city.id), data: { turbo_method: :delete, turbo_confirm: "¿Estas seguro que deseas eliminar esta ciudad?" } %>
      </td>
      </tr>
   <% end %>
   </tbody>
</table>
<%= link_to "Nueva ciudad", new_city_path, class:"btn btn-secondary" %>