<p style="color: green"><%= notice %></p>

<%= render @city %>

<div>
  <%= link_to "Editar", edit_city_path(@city) %> |
  <%= link_to "Atras", cities_path %>

  <%= button_to "Eliminar", @city, method: :delete %>
</div>
