<p style="color: green"><%= notice %></p>

<%= render @state_project %>

<div>
  <%= link_to "Edit this state project", edit_state_project_path(@state_project) %> |
  <%= link_to "Back to state projects", state_projects_path %>

  <%= button_to "Destroy this state project", @state_project, method: :delete %>
</div>
