<p style="color: green"><%= notice %></p>
<h1>Lista de Estados</h1>
<table class="table table-success table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Mas opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @estados.each do |estado| %>
      <tr>
        <td><%= estado.nombre %></td>
        <td>  <%= link_to "Ver mas", estado %> |
      <%= link_to "Editar", edit_estado_path(estado.id) %> |
      <%= link_to "Eliminar", estado_path(estado.id), data: { turbo_method: :delete, turbo_confirm: "¿Estas seguro que deseas eliminar este Estado?" } %>
       </td>
      </tr>
   <% end %>
   </tbody>
</table>

<%= link_to "Nuevo Estado", new_estado_path, class:"btn btn-secondary" %>