<p style="color: green"><%= notice %></p>

<%= render @estado %>

<div>
  <%= link_to "Editar", edit_estado_path(@estado) %> |
  <%= link_to "Atras", estados_path %>
  
  <%= button_to "Eliminar", @estado, method: :delete %>
</div>
